*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.image {
    height: 530px;
    width: 1300px;
    margin-left: 60px;
}

.container {
    width: 100%;
}

.header .title {
    float: left;
    display: inline-block;
}

.header .welcomeMsg {
    float: right;
    display: inline-block;
}

.menu {
}

    .menu li {
        float: left;
        margin: 0px 20px;
        list-style: none;
    }

        .menu li a {
            color: blue;
            text-decoration: none;
        }

.grid {
    display: inline-block;
    width: 100%;


    .grid .row {
        display: inline-block;
        width: 100%;
        padding-bottom: 1px;
    }

        .grid .row .col-1 {
            display: inline-block;
            width: 200px;
        }

        .grid .row .col-2 {
            display: inline-block;
            width: 300px;
        }

        .grid .row .col-3 {
            display: inline-block;
            width: 300px;
        }
}

input[type=text] {
    width: 150px;
}

input[type=number]{
    width: 150px;
}

input[type=password] {
    width: 300px;
}


.field-validation-error {
    color: red;
}

.text-center {
    align-content: center;
}

.details-heading{
    min-width: 100%;
}

.details {
    min-width: 30%;
}

.details-buttons-container{
    min-width: 100%;
}

.with-reviews {
    max-width: 1000px;
}

.no-reviews {
    max-width: 35%;
    justify-content: center;
    text-align: center
}

.form-container {
    max-width: 35%;
}

.form-container h3 {
    min-width: 100%;
}

.form-details input[type=text], input[type=number]{
    width: 100%;
}

.assessment-dropdown-container select {
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.authError{
    text-align: center;
}

.footer-style {
    text-align: center;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    line-height: 60px;
}

.import-export-container{
    width: 40%;
}

.import-container p {
    width: 100%;
}