<form action="/Books/Export" method="post">
	<button class="btn btn-primary" type="submit">Export</button>
</form>
<form action="/Books/Import" method="post" enctype="multipart/form-data">
	<input type="file" accept=".json" name="file"/>
	<button class="btn btn-primary" type="submit">Import</button>
</form>